* {
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.w-5, .px-2 {
  display: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}
