@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: "DINPro", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.w-5, .px-2 {
  display: none;
}

body {
  background-color: #262a2d;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #262a2d;
  z-index: 5;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 3px;
  z-index: 5;
}

/*-----------------------------------------
                   Меню
-----------------------------------------*/
.dashboard__menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  z-index: 2;
  overflow-x: hidden;
  background-color: #383c3d;
  font-size: 12px;
}
.dashboard__menu .menu__group {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.dashboard__menu .menu__group .group__title {
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  color: #b4b4b4;
  text-transform: uppercase;
  cursor: default;
}
.dashboard__menu .menu__group .group__item {
  position: relative;
  margin: 2px 0;
}
.dashboard__menu .menu__group .item__title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
.dashboard__menu .menu__group .item__image {
  position: relative;
  width: 10px;
  height: 10px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.dashboard__menu .menu__group .item__image img {
  display: flex;
  position: absolute;
  width: 80%;
  height: 80%;
}
.dashboard__menu .menu__group a {
  position: relative;
  padding: 5px;
  margin-left: 5px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  opacity: 0.9;
}
.dashboard__menu .menu__group a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dashboard__menu .menu__group .links__list {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.dashboard__menu .menu__group .link {
  position: relative;
  max-width: 140px;
  margin-left: 30px;
  font-size: 12px;
  color: #b4b4b4;
  cursor: pointer;
}
.dashboard__menu .menu__group .link:first-child {
  margin-top: 5px;
}
.dashboard__menu .menu__group .link:last-child {
  margin-bottom: 5px;
}
.dashboard__menu .menu__group .link p {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard__menu .menu__group .link:hover {
  color: #ff975c;
}
.dashboard__menu .menu__group .active {
  background-color: #4e5455;
}
.dashboard__menu .menu__group .open {
  display: flex;
}
.dashboard__menu .menu__group .open img {
  transform: rotate(90deg);
}

.dashboard {
  position: relative;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.dashboard__head {
  background-color: #7c633c;
  height: 200px;
  position: relative;
  width: 100%;
}
